<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrielcafe.recifebomdebola" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:allowBackup="true" >

        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBN6JY9dileeRs45A_OqS2-XV60Czr3WU0"/>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="3LnFl4C6kNDhvIfbHZ6CZRZskqeL040rCE5AQzXJ" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="MzPWCGhpJC1CRnUYX7vHkTu2XwScc3ltcGHcbnmK" />

    </application>

</manifest>